services:
  customer-service:
    build:
      context: ./Customer
      dockerfile: Dockerfile
    ports:
      - "6063:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - MongoDbSettings__ConnectionString=mongodb://mongodb:27017
      - MongoDbSettings__DatabaseName=thenorsound
      - MongoDbSettings__CustomerCollectionName=customers
    depends_on:
      mongodb:
        condition: service_started

  user-service:
    build:
      context: ./User
      dockerfile: Dockerfile
    ports:
      - "6062:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - MongoDbSettings__ConnectionString=mongodb://mongodb:27017
      - MongoDbSettings__DatabaseName=thenorsound
      - MongoDbSettings__UserCollectionName=users
      - CustomerClientConfiguration__BaseUrl=http://customer-service:8080
    depends_on:
      customer-service:
        condition: service_started
      mongodb:
        condition: service_started

  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  auth-service:
    build:
      context: ./Auth
      dockerfile: Dockerfile
    ports:
      - "6061:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - MongoDbSettings__ConnectionString=mongodb://mongodb:27017
      - MongoDbSettings__DatabaseName=thenorsound
      - MongoDbSettings__CredentialCollectionName=credentials
      - UserClientConfiguration__BaseUrl=http://user-service:8080
      - JwtSettings__SecretKey=${JWT_SECRET_KEY}
      - JwtSettings__Issuer=ThenorSound
      - JwtSettings__Audience=ThenorSound
      - JwtSettings__ExpirationMinutes=15
      - Cors__AllowedOrigins__0=http://localhost:5173
    depends_on:
      mongodb:
        condition: service_started
      user-service:
        condition: service_started

  event-service:
    build:
      context: ./Event
      dockerfile: Dockerfile
    ports:
      - "6064:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - MongoDbSettings__ConnectionString=mongodb://mongodb:27017
      - MongoDbSettings__DatabaseName=thenorsound
      - MongoDbSettings__EventCollectionName=events
      - JwtSettings__Issuer=ThenorSound
      - JwtSettings__Audience=ThenorSound
      - JwtSettings__SecretKey=${JWT_SECRET_KEY}
      - Cors__AllowedOrigins__0=http://localhost:5173
    depends_on:
      mongodb:
        condition: service_started

volumes:
  mongodb_data:
